body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #f4f4f9;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

main {
    padding: 20px;
}

button {
    background: linear-gradient(to right, #007BFF, #6F42C1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    color: #FFD700;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}


.board {
display: grid;
grid-template-columns: repeat(15, 40px);
grid-template-rows: repeat(15, 40px);
gap: 5px;
justify-content: center;
}
.cell {
width: 40px;
height: 40px;
background-color: #f0f0f0;
border: 1px solid #ccc;
font-size: 24px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.cell.taken {
cursor: not-allowed;
}
.message_caro {
margin-top: 20px;
font-size: 20px;
color: #333;
}